body {
	margin: 0px;
	margin-top: 12px 0;
	background: #81865c url(../images/bg.jpg) repeat left top;
}
.clearfix {
	clear: both;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}

p {
	margin: 0px;
}

a {
	color: #31420b;
	text-decoration: underline;
}
a:hover {
	color: #8bbd1d;
}

.mainwrapper {
	margin: 0 auto;
	width: 900px;
	background: #fff;
	border-radius: 8px;
}
.header-wrapper {
	padding: 0 15px;
}
.logo {
	float: left;
}

.contact-info {
	float: right;
	padding-top: 40px;
	text-align: right;
	font-size: 18px;
	line-height: 25px;
}

.contact-info p {
	padding-bottom: 16px;
}

.main-block {
	padding: 0 15px 40px;
}

.content {
	float: left;
	width: 570px;
	font-size: 16px;
	line-height: 24px;
}

.content h1 {
	font-size: 28px;
	line-height: 38px;
}

.content p {
	text-indent: 20px;
}

.sidebar {
	float: right;
	margin-right: -15px;
	width: 300px;
}

.sidebar h2 {
	padding: 8px 15px;
	color: #fff;
	font-weight: normal;
	font-size: 22px;
	line-height: 32px;
	background: #31420b;
}

.sidebar menu {
	margin: 0;
	padding: 0 0 0 15px;
	list-style: none;
	font-size: 18px;
	line-height: 24px;
}

.sidebar li {
padding: 6px 0;
}

.green-line,
.footer {
	padding: 12px 15px;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
	background: #31420b;
	border-radius: 8px;
}
.footer p {
	display: inline-block;
}
.footer a {
	float: right;
	color: #fff;
	text-decoration: none;
}







